@import "../../../mixins.scss";

@include md {
    .searchBar {
        position: relative;

        .auto-suggest {
            position: absolute;
            top: 110%;
            left: 0;
            width: 100%;

            .contentWrapper {
                justify-content: start;

                .suggestion {
                    width: 100%;
                    max-height: 240px;
                    border-radius: 5px;
                    background: #fff;
                    color: black;
                    overflow-y: auto;
                    border: 1px solid #ddd;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    z-index: 10;
                    scrollbar-width: thin;
                    scroll-behavior: smooth;

                    .result {
                        padding: 10px;
                        cursor: pointer;
                        font-size: 1.5rem;

                        &::marker {
                            content: none;
                        }

                        &:hover {
                            background: #f0f0f0;
                        }
                    }
                }
            }
        }
    }
}