@import "../../../mixins.scss";

.Cast {
    .profile_photo {
        height: 100%;
        width: 100%;
        border-radius: 50%;

        span {
            height: 100%;
            width: 100%;
            border-radius: 50%;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }
    }

    .profile_name {
        text-align: center;
        font-family: Oswald;
        font-size: 1.5rem;
    }
}