.movie-details .description {
    p {
        max-height: 250px;
        overflow-y: auto;

        &.text {
            padding: 10px;
            user-select: none;
            line-break: strict;
            line-height: 2rem;
            color: white;

            &.roboto {
                font-family: "Roboto Mono", monospace;
                font-optical-sizing: auto;
                font-weight: 200;
                font-style: normal;
                font-size: 1.7rem;
            }
        }

        &::-webkit-scrollbar {
            height: 250px;
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.1);
        }

        margin: 0;
    }

    button {
        background: transparent;
        border: 0;
        float: right;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: rgb(23, 119, 223);
    }
}