@import '../../../mixins.scss';
@import '../../index.scss';

.carousel {
    margin-right: 5px;

    @include md {
        margin: 25px;
    }

    .contentWrapper {
        position: relative;
        padding: 0;

        .arrow {
            font-size: 30px;
            color: black;
            position: absolute;
            top: 94%;
            transform: translateY(-50%);
            cursor: pointer;
            opacity: 0.8;
            z-index: 1;
            display: none; //In mobile view arrows are not displayed.

            @include md {
                display: block;
            }

            transition: all 0.2s ease;

            &:hover {
                opacity: 1;
                background-color: rgb(120, 122, 122);
                border-radius: 50%;
            }
        }

        .carouselLeftNav {
            left: -30px;
            top: 50%;

        }

        .carouselRighttNav {
            right: -30px;
            top: 50%;
        }

        .carouselItems {
            display: flex;
            gap: 15px;
            justify-content: start;
            overflow: hidden;
            overflow-x: auto;
            height: fit-content;
            width: 100%;
            padding: 15px 15px 0 3px;

            @include md {
                display: flex;
                gap: 60px;
                justify-content: start;
                overflow: hidden;
                overflow-x: auto;
                height: auto;
                width: 100%;
                padding: 33px 10px;
            }

            .carouselItem {
                height: 100%;
                width: 118px;
                margin-top: 0;
                transition-property: transform;
                border-radius: 10px;
                transition-timing-function: ease-out;
                transition-duration: 0.2s;
                cursor: pointer;
                transform-origin: center;

                &:first-child {
                    margin-left: 10px;
                }

                @include md {
                    height: 100%;
                    width: 180px;
                    margin-top: 5px;
                    border-radius: 10px;
                    transition-property: transform;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-out;
                    transform-origin: center;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.11);
                        box-shadow: rgba($color: #f9d403, $alpha: 0.5) 0 0px 5px 3px;
                    }
                }

                .posterBlock {
                    height: 80%;
                    width: inherit;
                    border-radius: 10px;
                    position: relative;

                    &>span {
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;

                        img {
                            height: 100%;
                            width: 100%;
                            border-radius: 10px;
                        }
                    }

                }

                .posterBlock.skeleton {
                    height: 200px;

                    @include md {
                        height: 250px;
                        width: inherit;
                        border-radius: 10px;
                    }
                }

                .textBlock {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 1.3px 10px 5px;
                    font-size: 2rem;
                    gap: 8px;

                    .title {
                        font-weight: 700;
                    }

                    .date {
                        color: rgba(221, 221, 221, 0.537);
                    }
                }

                .textBlock {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 1.3px 10px 5px;
                    gap: 8px;

                    .title.skeleton {
                        height: 6px;
                        width: 70px;
                    }

                    .date.skeleton {
                        height: 6px;
                        width: 20px;
                    }
                }
            }
        }
    }
}