@import '../../../mixins.scss';

input {
    width: calc(100% - 100px);
    position: relative;
    height: 50px;
    background-color: #fff;
    color: black;
    border: 0;
    outline: 0;
    border-radius: 30px 0 0 30px;
    padding: 0 15px;
    font-size: 14px;
    transition: box-shadow .2s ease;

    &.roboto-typingAnimation {
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 350;
        color: rgb(0, 0, 0);
        letter-spacing: 1.1px;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }

    @include md {
        width: calc(100% - 150px);
        height: 60px;
        font-size: 20px;
        padding: 0 30px;
    }

    &:hover {
        box-shadow: 0 5px 9px rgba(0, 0, 0, 0.4);
    }
}

.blinking-cursor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.4px;
    height: 15px;
    opacity: 0;

    @include md {
        height: 22px;
    }

    background-color: black;
    color: black;
}

input:not(:focus):not([placeholder=""])+.blinking-cursor {
    animation: blink 1s step-end infinite;
}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}