@import "../../../mixins.scss";

.movietrailer {
    button {
        background: rgba($color: rgb(255, 255, 255), $alpha: 1);
        border: 0;
        padding: 5px;
        border-radius: 4px;
        font-size: 1.8rem;
        font-family: "Oswald", system-ui;
        font-weight: bold;
        box-shadow: inset -2px 2px 5px 2px rgba(79, 79, 79, 0.461);
        transition: transform .2s ease-out;

        &:active {
            transform: scale(0.9);
        }

        svg {
            position: relative;
            top: 2px;
        }
    }

    .trailer-modal {
        position: absolute;
        top: 0px;
        left: 350px;
        width: 190%;
        transform-origin: center;
        animation: show .2s ease-in;


        .trailer-container {
            position: relative;
            display: flex;

            iframe {
                border: 0;
            }

            button {
                height: 25px;
                width: 25px;
                background: transparent;
                color: white;
                font-weight: normal;

                svg {
                    position: relative;
                    top: 0;
                }
            }


        }
    }
}


@keyframes show {
    from {
        top: 100px;
        transform: scale(0.8);
        opacity: 0.8;
    }

    to {
        top: 0;
        transform: scale(1);
        opacity: 1;
    }
}